
<div className="home">

  <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div class="mb-4 mt-5">
            <button *ngFor="let category of categories" class="me-2 btn btn-outline-dark " (click)="categoryChoose(category)">{{category}}</button>
        </div>


        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <div class="col mb-5 d-flex align-self-stretch" *ngFor="let product of filteredProducts">
                  <div class="card d-flex shadow"  >
                        <a class="nav-brand" [routerLink]="['/productDetail', product.id]">
                          <div class="inner">
                              <img class="card-img-top " src="{{product.image}}"  />
                          </div>
                       </a>
                      <div class="card-body p-4" >
                          <div class="text-center">
                          <h5 class="fw-bolder" [routerLink]="['/productDetail', product.id]">{{product.title}}</h5>

                            <strong><small style="opacity: 0.7;">{{product.description}}</small></strong>
                          </div>
                      </div>

                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                          <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/productDetail', product.id]">View Details</a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
