.masthead {
    margin-top: 100px;
    height: 100vh;
    min-height: 500px;
    background-image: url('https://www.lego.com/cdn/cs/local-news/assets/blt85e9337b7a539d97/404.jpg?disable=upscale&width=1056&quality=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.font{
      font-size: 200px;
}
h5{
      font-weight:900;
}