<!-- ##### Not Found Area Start ##### -->
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <a class="font">404</a>
          <h5 class="fw-light">Sorry, we can't find that page! Don't worry though, everything is STILL AWESOME!</h5>
          <div class=" p-4 pt-0 border-top-0 mt-auto bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="'/products'">Shop Now ></a></div>
        </div>
        </div>
      </div>
    </div>
  </header>
<!-- ##### Not Found Area End ##### -->
