<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">

          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            <div>
              <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                    class="fas fa-angle-down mt-1"></i></a></p>
            </div>
          </div>

          <div class="card rounded-3 mb-4">
            <div class="card-body p-4" *ngFor="let cartItem of cart.items">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <a class="nav-brand" [routerLink]="['/products']">
                        <img [src]="cartItem.product.image" class="img-fluid rounded-3" alt="Product Image">
                    </a>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <p class="lead fw-normal mb-2" [routerLink]="['/products']" >{{cartItem.product.title}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">

                  </button>

                  <input id="form1" min="1" name="quantity" value="1" type="number"
                    class="form-control form-control-sm" #quantitySelect (change)="changeQuantity(cartItem, quantitySelect.value)"/>

                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">

                  </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">{{cartItem.price | currency}}</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                 <i class="btn btn-warning fas fa-lg pi pi-times" (click)="removeFromCart(cartItem)"></i>
                </div>
              </div>
            </div>
          </div>



          <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-warning btn-block btn-lg" (click)="proceedToPay()">Proceed to Pay</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
