<!-- ##### Right Side Cart Area ##### -->
<div class="cart-bg-overlay"></div>

<div class="right-side-cart-area">

    <!-- Cart Button -->
    <div class="cart-button">
        <a href="#" id="rightSideCart"><img src="assets/img/core-img/bag.svg" alt=""> <span></span></a>
    </div>

    <div class="cart-content d-flex">

        <!-- Cart List Area -->
        <div class="cart-list">
            <!-- Single Cart Item -->
            <div class="single-cart-item mb-2" *ngFor="let cartItem of cart.items">
                <a href="#" class="product-image">
                    <img [src]="cartItem.product.image" class="cart-thumb" alt="">
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                      <span class="product-remove"><i class="fa fa-close" aria-hidden="true"(click)="removeFromCart(cartItem)"></i></span>
                        <span class="badge">{{cartItem.product.title}}</span>
                        <p class="price">{{cartItem.price | currency}}</p>
                    </div>
                </a>
            </div>

 
        </div>

        <!-- Cart Summary -->
        <div class="cart-amount-summary">

            <h2>Summary</h2>
            <ul class="summary-table">
                <li><span>Total Price:</span> <span>${{cart.totalPrice}}</span></li>
                <li><span>delivery:</span> <span>Free</span></li>
            </ul>
            <div class="checkout-btn mt-100">
                <button [routerLink]="'/cartPage'" class="btn essence-btn" >check out</button>
            </div>
        </div>
    </div>
</div>
<!-- ##### Right Side Cart End ##### -->
