<div class="bg-img">
  <div class="row">
    <div class="d-flex justify-content-center" style="margin-top:150px ; "  >
      <div class="card m-2 cb1 text-center tilt-card" data-tilt style="width: 30rem;">

        <div class="card-body">
          <img src="assets/img/logo.png">
          <h5 class="card-title">Account</h5>
          <p class="card-text">Welcome to the most fun E-Commerce Web App! Please hover your mouse on the Account Card.</p>
          <button type="button" class="btn btn-warning" [routerLink]="'/login'">WELCOME</button>
        </div>

          <script src="vanilla-tilt.js"></script>

      </div>
    </div>
  </div>
</div>

