.bg-img{
  background-image: url('http://sfwallpaper.com/images/lego-background-10.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;

}
.card{
  width: 90%;
  max-width: 400px;
  padding: 5rem 2.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(0.8rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

  border-top-color: rgba(225, 225, 225, 0.5);
  border-left-color: rgba(225, 225, 225, 0.5);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-right-color: rgba(225, 225, 225, 0.1);
}
.cb1{
  background-color: rgba(225, 225, 225, 0.1);
}

.btn:hover{
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}
.card-text{
  color: rgb(43, 61, 61);
}
