.justify-content-between{
  background-color: #ffcf00;
}
.footer_area.footer_area[_ngcontent-vrh-c16] {
background-color: #2c2c2c;
}

.header img {
  width: 3.4375rem;
  height: 3.4375rem;
  float: top;
  background: #000000;
}
