

<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area bg-img background-overlay img-fluid" style="background: url(assets/img/bg-img/bg-1.jpg); position: relative ; margin-top: 30px ; min-height:50vh; background-size: cover; background-position: center" >
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content" style="margin-top: 100px;">
                    <h6>EZGO</h6>
                    <h2>WELCOME TO THE EZGO SHOP</h2>
                    <a href="#" class="btn essence-btn">EXPLORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->

