
<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area bg-img background-overlay img-fluid" style="background: url(assets/img/bg-img/bg-1.jpg); position: relative ; margin-top: 30px ; min-height:50vh; background-size: cover; background-position: center" >
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content" style="margin-top: 100px;">
                    <h6>EZGO</h6>
                    <h2>WELCOME TO THE EZGO SHOP</h2>
                    <a href="#" class="btn essence-btn " [routerLink]="'/products'">EXPLORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->

<div className="home">

  <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
          <h1 style="opacity: 0.7; margin-bottom: 20px;">Trending Now</h1>
          <div class="row gx-4 gx-lg-5 row-cols-md-3 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <div class="col mb-5">
                  <div class="card h-100">

                      <img class="card-img-top" src="assets/img/bg-img/bg-2.jpeg" alt="..." />

                      <div class="card-body p-4">
                          <div class="text-center">

                          <h5 class="fw-bolder">Battle against the bad guys</h5>


                          </div>
                      </div>

                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="'/products'">Shop Now ></a></div>
                      </div>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card h-100">

                      <img class="card-img-top" src="assets/img/bg-img/bg-3.jpeg" alt="..." />

                      <div class="card-body p-4">
                          <div class="text-center">

                          <h5 class="fw-bolder">Discover a word of wizards</h5>

                          </div>
                      </div>

                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="'/products'">Shop Now ></a></div>
                      </div>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="card h-100">

                      <img class="card-img-top" src="assets/img/bg-img/bg-4.jpeg" alt="..." />

                      <div class="card-body p-4">
                          <div class="text-center">

                          <h5 class="fw-bolder">Take on enemies and collect coins</h5>

                          </div>
                      </div>

                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                          <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="'/products'">Shop Now ></a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>

